.nav-link {color: white;font-family: comic; font-size: 30px}
.navi {color: white; font-family: comic; font-size: 30px}
.dropdown-item {color: black; font-family: comic; font-size: 20px}
body {background-color: lightgrey;}
h1 {font-family: comic}
.panel-body {background-color: black}
p {color: white}
label {color: white}
